<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="border-bottom border_light py-3 d-flex align-items-center justify-content-end gap-3">   
                <span class="text_darkgrey fw_600 font_sm" dir="ltr">
                    <i class="far fa-calendar"></i>
                    19 March,2023
                </span>
                <span class="text_darkgrey fw_600 font_sm" dir="ltr">
                    <i class="far fa-clock"></i>
                     03:30 PM
                </span>
            </div>
        </div>
    </div>
</div>