<div class="az_toast_container">
    <div class="success_toast az_toast border border_dark shadow d-flex align-items-center justify-content-between gap-3">
        <div class="icon_container">
            <i class="font_md fa fa-check"></i>
        </div>
        <p class="flex-grow-1 font_md">Successful save!</p>
    </div>
    <div class="warning_toast az_toast border border_dark shadow d-flex align-items-center justify-content-between gap-3">
        <div class="icon_container">
            <i class="font_md fa fa-exclamation-triangle"></i>
        </div>
        <p class="flex-grow-1 font_md">Please select at least one check box!</p>
    </div>
    <div class="info_toast az_toast border border_dark shadow d-flex align-items-center justify-content-between gap-3">
        <div class="icon_container">
            <i class="font_md fa fa-info-circle"></i>
        </div>
        <p class="flex-grow-1 font_md">Lorem ipsum set amet.</p>
    </div>
    <div class="error_toast az_toast border border_dark shadow d-flex align-items-center justify-content-between gap-3">
        <div class="icon_container">
            <i class="font_md fa fa-close"></i>
        </div>
        <p class="flex-grow-1 font_md">Failed to save, please try again!</p>
    </div>
</div>